<?xml version="1.0"?>

<!-- Here we define the robot, we named it "iiwa7_robotiq" -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa7_robotiq">

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <!--Import the iiwa7 macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>
  <!--Import the robotiq macro -->
  <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated_macro.xacro"/>

  <!--  Arguments for the iiwa7 macro  -->
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>

  <!-- Table surface centered 5 cm below the origin in the z direction. -->
  <link name="world">
    <visual>
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <!-- 9.99cm thick so it doesn't intersect with arm model. -->
        <box size="2.5 2.5 0.0999"/>
      </geometry>
      <material name="gray">
        <color rgba="0.75 0.75 0.75 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="2.5 2.5 0.0999"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <!-- Table behind wall, arm - 1m back-->
  <link name="wall">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 10 5"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 10 5"/>
      </geometry>
    </collision>
  </link>

  <!-- Mat in front of arm - 1cm tall-->
  <link name="mat">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.0 2.5 0.02"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="1.0 2.5 0.02"/>
      </geometry>
    </collision>
  </link>

  <!-- Box for dropping objects, to the left of the arm -->
  <!-- 12"+ 16" 8.5"+ -->
  <!--<link name="obj_box">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3048 0.4064 0.2159"/>
      </geometry>
      <material name="brown">
        <color rgba="0.627 0.321 0.176 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3048 0.4064 0.2159"/>
      </geometry>
    </collision>
  </link>-->

  <!-- 30" tall, 38" from origin to surface in x, left side is 3" out into y, 17.5" + 8.5"padding wide, 12.5" deep -->
  <!-- Blocks: 10.5" from center to edge negative y.-->
  <!--         z from 4 to 8, then another 14" to 18"-->
  <!--         3.5" into x, 7 for whole rack-->
  <!--         3.5" wide (y) -->
  <!--         y_org in world: 10.5+3.5/2= 12.25-->
  <!--         y_org in door: 12.25-(17.5/2-3)=6.5 -->
  <link name="cabinet">
    <!-- Main cabinet -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3175 0.6604 1.0"/>
      </geometry>
      <material name="brown">
        <color rgba="0.627 0.321 0.176 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3175 0.6604 1.0"/>
      </geometry>
    </collision>

    <!-- Handle -->
    <!-- 29" from origin to outer bit of noodle, 2.25 wide - 10.375" x from origin w/ 41" x origin-->
    <!-- z origin halfway between blocks -->
    <visual>
      <origin xyz="-0.263525 -0.1651 -0.119" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.4572" radius="0.028575"/>
      </geometry>
      <material name="brown">
        <color rgba="0.627 0.321 0.176 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.263525 -0.1651 -0.119" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.4572" radius="0.028575"/>
      </geometry>
    </collision>

    <!-- Handle blocks lower -->
    <visual>
      <origin xyz="-0.24765 -0.1651 -0.3476" rpy="0 0 0"/>
      <geometry>
        <box size="0.1778 0.0889 0.1016"/>
      </geometry>
      <material name="brown">
        <color rgba="0.627 0.321 0.176 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.24765 -0.1651 -0.3476" rpy="0 0 0"/>
      <geometry>
        <box size="0.1778 0.0889 0.1016"/>
      </geometry>
    </collision>

    <!-- Handle blocks upper -->
    <visual>
      <origin xyz="-0.24765 -0.1651 0.1096" rpy="0 0 0"/>
      <geometry>
        <box size="0.1778 0.0889 0.1016"/>
      </geometry>
      <material name="brown">
        <color rgba="0.627 0.321 0.176 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.24765 -0.1651 0.1096" rpy="0 0 0"/>
      <geometry>
        <box size="0.1778 0.0889 0.1016"/>
      </geometry>
    </collision>
  </link>

  <!-- Here we insert an iiwa7 robot in the scene, it's origin is just on top of the box previously defined.-->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:iiwa7>

  <!-- Instantiate the robotiq model from the imported macro. -->
  <xacro:robotiq-3f-gripper_articulated prefix="">
  </xacro:robotiq-3f-gripper_articulated>

  <!-- Here we define a flange link between the tip of the iiwa7 and the base of the robotiq. -->
  <!-- Insert a cylinder between default (smaller) flange and robotiq. -->
  <link name="flange">
    <visual>
      <geometry>
        <!-- Length and radius computed by SGD (Semi-stochastic GraduateStudent Descent). -->
        <cylinder length="0.038" radius="0.035"/>
      </geometry>
      <material name="orange">
        <color rgba="1.0 0.27 0.0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.038" radius="0.035"/>
      </geometry>
    </collision>
  </link>

  <!-- Structure sensor model -->
  <link name="structure_sensor_model">
    <visual>
      <geometry>
        <!-- 5" wide, 1" other two dimensions. Surface (x) is at origin -->
        <!-- x increase .01, y increase .1, z increase 0.005 -->
        <box size="0.0324 0.137 0.0304"/>
      </geometry>
      <material name="orange">
        <color rgba="1.0 0.27 0.0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.0324 0.137 0.0304"/>
      </geometry>
    </collision>
  </link>

  <!-- Collision model for gripper cable connections -->
  <link name="gripper_cable_link">
    <visual>
      <geometry>
        <box size="0.0254 0.0254 0.0762"/>
      </geometry>
      <material name="orange">
        <color rgba="1.0 0.27 0.0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.0254 0.0254 0.0762"/>
      </geometry>
    </collision>
  </link>

  <!-- Collision model for wrist cable connections -->
  <link name="wrist_cable_link">
    <visual>
      <geometry>
        <!--<box size="0.0254 0.0254 0.0254"/>-->
        <box size="0.03 0.03 0.0254"/>
      </geometry>
      <material name="orange">
        <color rgba="1.0 0.27 0.0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.03 0.03 0.0254"/>
      </geometry>
    </collision>
  </link>

  <!-- Link at surface of palm for planning. -->
  <link name="palm_surface"/>
  <!-- Link near the center of the grasp region for planning. -->
  <link name="finger_grasp_centroid"/>

  <!-- Link for structure sensor with OpenNI2-->
  <link name="camera_link"/>

  <!-- Mat in front of arm - 17cm from origin in x direction-->
  <joint name="world_to_mat" type="fixed">
    <parent link="world"/>
    <child link="mat"/>
    <origin xyz ="0.67 0.0 0.0"/>
  </joint>

  <!-- wall behind arm-->
  <joint name="world_to_wall" type="fixed">
    <parent link="world"/>
    <child link="wall"/>
    <origin xyz ="-0.8 0 0.0"/>
  </joint>

  <!-- 19.25 inches from center to box edge. x, back edge is at 0-->
  <!-- 0.3048 0.4064 0.2159 -->
  <!-- origin: -xdim/2, 19.25" + ydim/2 - 2", zdim=2-->
  <!--<joint name="world_to_obj_box" type="fixed">
    <parent link="world"/>
    <child link="obj_box"/>
    <origin xyz ="-0.1524 0.64135 0.10795"/>
  </joint>-->

  <!-- 30" tall, 38" (we use 34.75") from origin to surface in x, left side is 3" out into y, 17.5" wide, 12.5" deep -->
  <joint name="world_to_cabinet" type="fixed">
    <parent link="world"/>
    <child link="cabinet"/>
    <origin xyz ="1.0414 -0.14605 0.5"/>
  </joint>

  <!-- The offset between iiwa_link_ee and palm was estimated to be 0.0975.
       Sum of z origin displacements of ee_to_flange and robotiq_joint. -->
  <joint name="ee_to_flange" type="fixed">
    <parent link="iiwa_link_ee"/>
    <child link="flange"/>
    <origin xyz ="0.0 0.0 0.0225"/>
  </joint>

  <joint name="ee_to_structure" type="fixed">
    <parent link="iiwa_link_ee"/>
    <child link="camera_link"/>
    <origin xyz ="0.049 -0.082 0.03" rpy="0 0 -1.5707963"/>
  </joint>

  <joint name="structure_to_sensor_model" type="fixed">
    <parent link="camera_link"/>
    <child link="structure_sensor_model"/>
    <!-- x offset half x dim so it's at surface, y to center it-->
    <!--<origin xyz="-0.0127 -0.04 0" rpy="0 0 0"/>-->
    <origin xyz="-0.0162 -0.05 0" rpy="0 0 0"/>
  </joint>

  <joint name="robotiq_joint" type="fixed">
    <parent link="flange" />
    <child link = "palm" />
    <!-- Gazebo isn't happy about ${PI/2.0}-->
    <!--<origin xyz="0.0 0.0 0.075" rpy="${PI/2.0} 0 ${PI/2.0}" />-->
    <origin xyz="0.0 0.0 0.075" rpy="1.57079632679 0 1.57079632679" />
  </joint>

  <joint name="palm_to_gripper_cable" type="fixed">
    <parent link="palm"/>
    <child link="gripper_cable_link"/>
    <origin xyz ="0.0927 -0.01 0.0"/>
  </joint>

  <joint name="ee_to_wrist_cable" type="fixed">
    <parent link="iiwa_link_ee"/>
    <child link="wrist_cable_link"/>
    <origin xyz ="0.0 0.0727 -0.03"/>
  </joint>

  <joint name="palm_to_palm_surface" type="fixed">
    <parent link="palm"/>
    <child link="palm_surface"/>
    <!-- Also estimated heuristically. -->
    <origin xyz ="0.0 0.05 0.0"/>
  </joint>

  <joint name="palm_to_finger_grasp_centroid" type="fixed">
    <parent link="palm"/>
    <child link="finger_grasp_centroid"/>
    <!-- Also estimated heuristically. -->
    <origin xyz ="0.0 0.125 0.0"/>
  </joint>
</robot> 
