<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="iiwa" />
    
    
    <!-- Converts joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        <remap from="joint_states" to="/$(arg robot_name)/joint_states" />
    </node>

    <node name="hand_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
    </node>
    
</launch>
